* {
    margin: 0;
    padding: 0;
}


/* Font Area */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Shared Area */
/* color-gradient */
.grad-col {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.btn-animation {
    transform: scale(150%);
    transition: 0.8sec ease-in ease-in-out;
}



/* Main Body Style Area */

/* ----- Header Section ----- */
#heading {
    max-width: 1600px;
    margin: 0 auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
    align-items: center;
    padding: 24px 200px;
}
.hidden-div {
    display: none;
}
.heading-title {
    font-size: 2rem;
    color: white;
}
#heading .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.list-items {
    font-size: 1rem;
    font-weight: medium;
}
.list-items a{
    text-decoration: none;
    color: white;
}
#heading button {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
#heading button:hover {
    transform: scale(150%);
    transition: 0.5s ease;
}
#heading button img {
    height: 20px;
    width: 20px;
}

/* ----- Banner Section ----- */
#banner {
    max-width: 1600px;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px 200px;
    justify-content: center;
    align-items: center;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-image img {
    width: 100%;
    max-width: 116px;
    margin: 0 auto;
    background: url(./assets/hero-circle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 150px;

}
#banner .sticker {
    font-size: 1.125rem;
    font-weight: 600;
    color: black;
    background-color: #00FF88;
    padding: 10px 20px;
    border-radius: 1000px;
    margin-bottom: -100px;
    z-index: 1;
    margin-right: -160px;
    box-shadow: 0 0 70px #00FF88;
}
#banner .sticker:hover {
    transform: translateX(5px) translateY(5px);
    transform: scale(150%);
    cursor: pointer;
    transition: 0.5s ease;
}
.banner-content .banner-title {
    font-size: 4rem;
    color: white;
    text-align: center;
}
.banner-paragraph {
    font-size: 1rem;
    color: white;
    margin-top: 8px;
    text-align: center;
}
.banner-content-buttons {
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
}
.banner-content-buttons {
    margin-top: 24px;
}
.banner-content-buttons .btn1 {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.banner-content-buttons .btn1:hover{
    transform: scale(150%);
    transition: 0.5s ease;
}
.banner-content-buttons .btn2 {
    color: #00FF88;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    border-radius: 2px;
    border-color: #00FF88;
    border-radius: 10000px;
}
.banner-content-buttons .btn2:hover{
    transform: scale(150%);
    transition: 0.5s ease;
}
/* ----- About The Podcast Section ----- */
#about-the-section {
    max-width: 1600px;
    margin: 0 auto;
    width: auto;
    padding: 24px 200px;
    text-align: center;
    background-color: #1A0B2E;
}
.top-container h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 50px;
}
.top-container .first-para {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20pt;
    margin-top: 16px;
}
.top-container .last-para {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20pt;
    margin-top: 16px;
    margin-bottom: 80px;
}
#about-the-section hr {
    border: none;
    height: 1px;
    background-color: hsla(0, 0%, 100%, 0.11);
}
.bottom-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-top: 80px;
}
.bottom-container h1{
    color: #00FF88;
    font-size: 3rem;
}
.bottom-container p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-top: 16px;
}
/* ----- Why Choose TechWave ----- */
#why-choose-techwave {
    max-width: 1600px;
    width: auto;
    margin: 0 auto;
    padding: 120px 200px;
    background-color: #230E3D;
}
#why-choose-techwave h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.cards1 {
    grid-area: headphone;
}
.cards2 {
    grid-area: device;
}
.cards3 {
    grid-area: global;
}
.cards4 {
    grid-area: exclusive;
}
.cards5 {
    grid-area: resource;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    grid-template-areas: 
    "headphone  device device"
    "headphone  global global"
    "exclusive exclusive resource";
    margin-top: 40px;
}
.cards1, .cards2, .cards3, .cards4, .cards5 {
    background-color: rgba(53, 17, 101, 0.4);
    border: none;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hvr:hover {
    cursor: pointer;
    transform: scale(110%);
    transition: 1s ease;
}
.card-container img{
    max-width: 50px;
    
}
.card-container h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 16px;
}
.card-container p {
    color: rgba(255, 255, 255, 0.541);
    margin-top: 16px;
}



/* Viewport */
@media screen and (max-width:576px) {
    /* Header Section */
    #heading {
        padding: 16px 20px;
        justify-content: space-between;
        width: auto;
    }
    .heading-title {
        font-size: 1.25rem;
    }
    .hidden-div {
        display:block;
    }
    .navbar{
        display: none;
    }
    #heading button {
        display: none;
    }
    #heading button img {
        height: 24px;
        width: 24px;
    }


    /* Banner Section */
    #banner {
        max-width: 440px;
        margin: 0 auto;
        padding: 20px;
        background-size: cover;
        padding-top: 60px;
        gap: 20px;
        
    }
    .banner-image {
        margin-bottom: 0px;
    }
    #banner .banner-image img{
        max-width: 80px;
        padding: 80px;
        margin-top: 50px;
    }
    #banner .sticker {
        margin-bottom: -130px;
    }
    .banner-content .banner-title {
        font-size: 2.5rem;
    }


    /* About The Podcast Section */
    #about-the-section {
        padding: 20px;
    }
    .bottom-container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
    }
    .top-container h1 {
        font-size: 2rem;
    }
    .top-container .last-para{
        margin-bottom: 20px;
    }
    .top-container h1 {
        margin-top: 20px;
    }

    /* Why Choose TechWave */

    #why-choose-techwave{
        padding: 20px;
    }
    #why-choose-techwave h1 {
        font-size: 2rem;
    }
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        grid-template-areas:
        "headphone"
        "device"
        "global"
        "exclusive"
        "resource";
    }




}